    <!-- jQuery -->
        {% load static %}
        <script src="{% static 'core/js/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'core/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'core/js/metisMenu.min.js' %}"></script>

        <!-- DataTables JavaScript -->
        <script src="{% static 'core/js/dataTables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'core/js/dataTables/dataTables.bootstrap.min.js' %}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{% static 'core/js/raphael.min.js' %}"></script>
       <!--  <script src="{% static 'core/js/morris.min.js' %}"></script>
        <script src="{% static 'core/js/morris-data.js' %}"></script> -->

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'core/js/startmin.js' %}"></script>
        <script src="{% static 'core/js/main.js' %}"></script>
        <script>
            // $(window).load(function() {
            //     $("#contenedor_carga").fadeOut("slow");
            // });
            $(document).ready(function() {
                $('#tabla-resultados').DataTable({
                        responsive: true,
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                        },
                        initComplete: function () {
                            this.api().columns().every(function () {
                            var column = this;
                            $('input', this.footer()).on('keyup change', function () {
                            if (column.search() !== this.value) {
                                column
                                .search(this.value)
                                .draw();
                        }
                        });
                });
                    }
                });
                // var contenedor = document.getElementById('contenedor_carga');
                // contenedor.style.visibility = 'hidden';
                // contenedor.style.opacity = '0'; 
            });

            // window.onload = function(){
            //     var contenedor = document.getElementById('contenedor_carga');
            //     contenedor.style.visibility = 'hidden';
            //     contenedor.style.opacity = '0'; 
            // }
        </script>
    </body>
</html>
