<div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-image fa-fw"></i> Visualización de las instancias clusterizadas
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {% if datos.3 %}
                            <img  class="img-thumbnail img-fluid" src="data:image/png;base64, {{datos.3}}" alt="Imagen de algoritmo" />  
                        {% endif %}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Información de clusters
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cluster</th>
                                        <th>Nº de instancias</th>
                                        <th>Porcentaje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dato in datos.2 %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td><span class="numero-cluster"><input class="valor-cluster" style="display:none" value="{{dato.id}}">{{dato.id}}</span></td>
                                            <td>{{dato.numInstances}}</td>
                                            <td>{{dato.percentage}}%</td>
                                        </tr>
                                    {% endfor %}  
                                    <tr>
                                        <td><b>Total: </b></td>
                                        <td></td> 
                                        <td>{{ datos.1|length  }}</td>
                                        <td>{%if datos.2 %}100%{% endif %}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-3 -->


            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Metricas
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Log likelihood</th>
                                        <th>Nª de iteraciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{%if datos.2 %}-30.5364{% endif %}</td>
                                        <td>{%if datos.2 %}7{% endif %}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row --> 